<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- page.title ? page.title + ' - ' + config.title : config.title %></title>
    <link rel="stylesheet" href="<%- url_for('css/style.css') %>">
</head>
<body>
    <div class="mc-wrapper">
        <%- partial('_partial/header') %>
        
        <main class="mc-main-container">
            <%- body %>
        </main>

        <%- partial('_partial/footer') %>
    </div>
    <script src="<%- url_for('js/wiki.js') %>"></script>
</body>
</html>